ScriptKitCommandline/ScriptKitCommandline.xcodeproj/xcuserdata
ScriptKitFramework/ScriptKitFramework.xcodeproj/xcuserdata
ScriptKitWorkspace.xcworkspace/xcuserdata
ScriptKitScratchpad/ScriptKitScratchpad.xcodeproj/xcuserdata
